<%c++ #include "blog/blog.hpp"%>
<%skin my_skin%>
<%view blog_page_view uses blog_page_content::content%>
<%template render()%>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>projects</title>
</head>
<style>
	body{
		background: #ecf2ce;
	}
	li{
		white-space: nowrap;
	}
	.header a{
		margin-left: 30px;

	}
	.header a:link{text-decoration: none;}
	.header a:visited{text-decoration: none;}
	.header a:active{text-decoration: none;}
	.header a:hover{text-decoration: underline; color: blue;}
	.center{
		text-align:center;

	}
	.main_block{
		margin-top: 20px;
	}
	.header{
		margin-top: 4vh;
	}
	.left-block li{
		margin-bottom: 5px;
		list-style-type: none;
	}
	.project-block{
		height: auto;
		width: 50vw;
		display: inline-block;
	}
	.project-text{
		text-align: justify;
	}
	main{
		text-align: center;
	}
	.github-link{
		text-align: left;
	}
</style>
<body>
	<div class="center header">
		<a href="" style="font-size: 20px">Arseney Mescheryakov</a>
		<a href="">Blog</a>	
		<a href="">Projects</a>
		<a href="">Resume</a>
		<a href="">Books</a>
		<a href="">Guides and Manuals</a>
	</div>
	<main>
		
        <% foreach elem in blog%>
        <%item%>
        <div class="project-block center">
			<div class="title">
				<h2><a href="/blog/<%=elem.at(0)%>"><%= elem.at(0)%></a></h2>
			</div>
			<p class="project-text">
                <%= elem.at(1)%>
			</p>

		</div>
        <%end%>
        <%empty%>
        zero blog
        <%end%>
	</main>
</body>
</html>

<%end template%>
<%end view%>

<%view blog_page_view_2 uses blog_page_content::content_2%>
<%template render()%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>projects</title>
</head>
<style>
	body{
		background: #ecf2ce;
	}
	li{
		white-space: nowrap;
	}
	.header a{
		margin-left: 30px;

	}
	.header a:link{text-decoration: none;}
	.header a:visited{text-decoration: none;}
	.header a:active{text-decoration: none;}
	.header a:hover{text-decoration: underline; color: blue;}
	.center{
		text-align:center;

	}
	.main_block{
		margin-top: 20px;
	}
	.header{
		margin-top: 4vh;
	}
	.left-block li{
		margin-bottom: 5px;
		list-style-type: none;
	}
	.project-block{
		height: auto;
		width: 80vw;
		display: inline-block;
	}
	.project-text{
		text-align: justify;
	}
	main{
		text-align: center;
	}
	.github-link{
		text-align: left;
	}
</style>
<body>
	<div class="center header">
		<a href="" style="font-size: 20px">Arseney Mescheryakov</a>
		<a href="">Blog</a>	
		<a href="">Projects</a>
		<a href="">Resume</a>
		<a href="">Books</a>
		<a href="">Guides and Manuals</a>
	</div>
	<main>
        <div class="project-block center">
			<div class="title">
				<h2><%= title%></h2>
			</div>
			<p class="project-text">
                <%= text%>
			</p>

		</div>
	</main>
</body>
</html>
<%end template%>
<%end view%>
<%end skin%>
