<%c++ #include "default_page/default_page.hpp"%>
<%skin my_skin%>
<%view default_page_view uses default_page_content::content%>
<%template render()%>
<!DOCTYPE html>
<html lang="en">
hello world
</html>
<%end template%>
<%end view%>
<%end skin%>
